#root {
font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  justify-content: center;
}

img {
  width: 100%;
  object-fit: cover;
}

.card-set {
  width: 80%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  margin: 40px auto;
  justify-content: center;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  background-color:  rgb(196, 204, 225);
  width: calc(25% - 40px);
  height: 80px;
  color:rgb(26, 41, 79);
  font-size: 20px;
  border: 5px rgb(165, 179, 212) solid;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  width: 23%;
  height: 88px;
}

button:active {
  background-color: rgb(26, 41, 79);
  color: white;
}

.button-set {
  width: 80%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 40px auto 20px auto;
}

h1 {
  font-size: 44px;
  font-weight: semi-bold;
  color: rgb(26, 41, 79);
  text-align: center;
}


@media screen and (min-width: 768.1px) and (max-width: 1080px) {
  .card {
    width: calc(50% - 20px);
  }

  .card-set {
    width: 90%;
    margin: 20px auto;
  }

  button {
    width: calc(50% - 40px);
    height: 60px;
    font-size: 16px;
  }

  button:hover {
    width: 47%;
    height: 64px;
  }

  .button-set {
    width: 90%;
    height: auto;
    gap: 20px,
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .card {
    width: 80%;
  }

  .card-set {
    width: 90%;
    margin: 20px auto;
  }

  button {
    width: 60%;
    height: 60px;
    font-size: 16px;
  }

  button:hover {
    width: 68%;
    height: 64px;
  }

  .button-set {
    width: 90%;
    height: auto;
    gap: 20px,
  }
}

.image-button img {
  cursor: pointer;
}

.image-button img:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 40%;
}

.product-card {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}